@model Webfastfood.Models.SanPham

@{
    ViewBag.Title = "XoaMon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Món Cần Xoá</h2>

<h3>Bạn có chắc bạn muốn xóa không?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSanPham)
        </dd>

        <dt>
            Tên Món
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            Giá Bán
        </dt>

        <dd>
            @string.Format("{0:0,0}",Model.DonGia) VND
        </dd>

        <dt>
            Ngày Cập Nhật
        </dt>

        <dd>
            @string.Format("{0:dd/MM/yyyy}", Model.NgayCapNhat)
        </dd>

        <dt>
            Chú Thích
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuThich)
        </dd>

        <dt>
            Hình Ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/product_Img/" + Model.HinhAnh)" style=" width: 100px " />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa Món" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "SanPham","Admin")
        </div>
    }
</div>
