@using Webfastfood.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2> Thông Tin Giỏ Hàng</h2>
<table border="1" align="center" width="100%">
    <tr>
        <td>Mã Món</td>
        <td>Tên Món</td>
        <td>Hình Ảnh</td>
        <td>Số Lượng</td>
        <td>Đơn Giá</td>
        <td>Thành Tiền</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iIDSanPham</td>
            <td>@item.STenSanPham</td>
            <td><img width="200px" src="~/images/@item.SHinhAnh" /></td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iIDSanPham }))
            {
                <td><input type="number" min="1" name="txtSoLuong" value="@item.iSoLuong" /></td>
                <td>@string.Format("{0:0,0}", item.dDonGia) VNĐ</td>
                <td>@string.Format("{0:0,0}", item.dThanhTien) VNĐ</td>
                <td><a href="@Url.Action("Details", "FastFood", new { id = item.iIDSanPham })">Chi Tiết</a></td>
                <td> @Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iIDSanPham })</td>
                <td><input type="submit" value="Cập Nhật" /></td>
            }
        </tr>
    }
    <tr style="font-weight:bold ;color:red ;text-align:right">
        <td colspan="4">Số Lượng Món :@ViewBag.TongSoLuong</td>
        <td colspan="5">Tổng Tiền :@String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
    </tr>
    <tr style="font-weight:bold ;color:red ;text-align:center">
        <td colspan="9">@Html.ActionLink("Đặt Hàng", "DatHang", "GioHang")</td>
    </tr>
    <tr class="col-auto d-flex">
        <div class="buyNext">
            <a class="ps-btn" href="@Url.Action("XoaTatcaGiohang")">Xóa Giỏ Hàng</a>
        </div>
    </tr>
</table>

